<ion-view title="">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button ui-sref="chat" class="button button-icon icon ion-chatboxes"></button>
  </ion-nav-buttons>
  <ion-content scroll="false" class="has-header">


 <ion-slide-box on-slide-changed="updateLastSeenSlide($index)"  style="height:90%; background-color:rgb(34, 34, 34);">

    <ion-slide class="slide">
      <div class="vertical-align">
      <h2>2014</h2>
      <h1 style="font-weight:600;font-size:5em;">SPHS<br/>Engineering Forum</h1>
      <h2>Scott Prue &amp; Sinan Bolel</h2>
      </div>
    </ion-slide>

    <ion-slide class="slide">
      <div class="vertical-align">
      <div class="row" style="text-align:center;">
        <div class="col">
          <h1>0. Introduction</h1>
          <h2>who are we?</h2>
          <h2>why are we here?</h2>
          <h2>what is this presentation?</h2>
          <h2>words from friends, collegues</h2>
        </div>
      </div>
      <div class="row" style="text-align:center;height:3em;">
      </div>
      <div class="row" style="text-align:center;">
        <div class="col">
          <h1>1. Past</h1>
          <h2>Us in PLTW</h2>
          <h2>LLCs, failures, lessons</h2>
        </div>
        <div class="col">
          <h1>2. Present</h1>
          <h2>Prototype Lab</h2>
          <h2>Pyro Platform</h2>
        </div>
        <div class="col">
          <h1>3. Future</h1>
          <h2>We are here for you.</h2>
          <h2>Mentoring EDD</h2>
          <h2>Afterschool: TSA, Vex</h2>
        </div>
      </div>
      </div>
    </ion-slide>


    <ion-slide class="slide">
      <div class="vertical-align">
      <h1  class="item item-clear item-positive">Who are we?</h1>
      </div>
    </ion-slide>


    <ion-slide class="slide">
      <div class="vertical-align">
      <div class="row" style="text-align:center;">
        <div class="col">
          <h1>Scott Prue</h1>
          <h2>Mechanical and Aerospace Engineering</h2>
          <h2>Case Western Reserve University</h2>
        </div>
        <div class="col">
          <h1>Sinan Bolel</h1>
          <h2>Computer Science, Cognitive Science</h2>
          <h2>Northwestern University</h2>
        </div>
      </div>
      </div>
    </ion-slide>

    <ion-slide class="slide">
      <div class="vertical-align">
      <h1>What do we do?</h1>
      <h2>(build awesome things)</h2>
      <div class="row" style="text-align:center;">
        <div class="col">
          <h1>Hardware</h1>
          <h2></h2>
          <h2></h2>
        </div>
        <div class="col">
          <h1>Software</h1>
          <h2></h2>
          <h2></h2>
        </div>
      </div>
      </div>
    </ion-slide>

    <ion-slide class="slide">
      <div class="vertical-align">
      <h1 style="font-weight:300;font-size:4em;">Why are we here?</h1>
      </div>
    </ion-slide>

    <ion-slide class="slide">
      <div class="vertical-align">
      <h1>Mel says hi!</h1>
      </div>
    </ion-slide>


    <ion-slide class="slide">
      <div class="vertical-align">
      <h1>"Question everything."</h1>
      <h2>-- Science Channel</h2>
      </div>
    </ion-slide>

    <ion-slide class="slide">
      <div class="vertical-align">
      <h1 class="item item-clear item-positive">What is this presentation?</h1>
      </div>
    </ion-slide>


    <ion-slide class="slide">
      <div class="vertical-align">
      <h1 style="font-size:3em;">This is a realtime presentation app</h1>
      <h1>built in the last 7 hours</h1>
      <h2>(we haven't slept)</h2>
      </div>
    </ion-slide>


    <ion-slide class="slide">
      <div class="vertical-align">
      <h1 class="item item-clear item-energized">realtime</h1>
      <h2>powered by Firebase</h2>
      </div>
    </ion-slide>


    <ion-slide class="slide">
      <div class="vertical-align">
      <h1>Open source, for you.</h1>
      <h2>(Ask us if you are interested)</h2>
      <h2></h2>
      <h2>https://github.com/prescottprue/pltwPresenter</h2>
      </div>
    </ion-slide>



    <ion-slide class="slide">
      <div class="vertical-align">
      <h1 class="item item-clear item-positive">Our Past</h1>
      </div>
    </ion-slide>


    <ion-slide class="slide">
      <div class="vertical-align">
      <h1>IN PLTW</h1>
      <h2>(the start of the journey)</h2>
      </div>
    </ion-slide>

    <ion-slide class="slide">
      <div class="vertical-align">
      <div id="sheya"><img style="border:0;"/></div>
      <h1>Joseph Sheya</h1>
      <h2>"You can do anything."</h2>
      </div>
    </ion-slide>

    <ion-slide class="slide">
      <div class="vertical-align">
      <h2>So we said...</h2>
      <h1>"Let's see how far we can take this."</h1>
      </div>
    </ion-slide>

    <ion-slide class="slide">
      <div class="vertical-align">
      <h2>Intro to Engineering Design</h2>
      <div class="row">
        <div class="col"><h1>Desk Organizer</h1></div>
        <div class="col"><h1>Ikea Lamp</h1></div>
      </div>
      </div>
    </ion-slide>

    <ion-slide class="slide">
      <div class="vertical-align">
      <h2>Engineering Design and Development</h2>
      <h1>TrashBot</h1>
      <img src="http://prescottprue.com/images/bot.jpg"/>
      </div>
    </ion-slide>

    <ion-slide class="slide">
      <div class="vertical-align">
      <h1>We had no idea what we were doing.</h1>
      <h2>But we went all the way.</h2>
      </div>
    </ion-slide>

    <ion-slide class="slide">
      <div class="vertical-align">
      <h1>Started a "company"</h1>
      <h2>which meant we made a website</h2>
      <h1>Collected donations</h1>
      <h2>raising money before crowd-funding was cool</h2>
      <h1>Did the work</h1>
      <h2>ran out of time</h2>
      </div>
    </ion-slide>

    <ion-slide class="slide">
      <div class="vertical-align">
      <h1 class="item item-clear item-calm">LLCs, Failures, Lessons</h1>
      </div>
    </ion-slide>

    <ion-slide class="slide">
      <div class="vertical-align">
      <h1>So we started starting companies...</h1>
      <h2>Basilar Tech LLC</h2>
      <h2>Kyper LLC</h2>
      <h2>Besso Labs LLC</h2>
      </div>
    </ion-slide>

    <ion-slide class="slide">
      <div class="vertical-align">
      <h1>Basilar Tech LLC</h1>
      <img src="http://prescottprue.com/images/mixer.png"/>
      </div>
    </ion-slide>

    <ion-slide class="slide">
      <div class="vertical-align">
      <h1>Kyper LLC</h1>
      <img src="http://prescottprue.com/images/mixer.png"/>
      </div>
    </ion-slide>

    <ion-slide class="slide">
      <div class="vertical-align">
      <h1>Besso Labs LLC</h1>
      <img src="https://pbs.twimg.com/media/BtA0-fdCQAIka4X.jpg"/>
      </div>
    </ion-slide>


    <ion-slide class="slide">
      <div class="vertical-align">
      <h2>By this point we had</h2>
      <h1>learned how to learn.</h1>
      </div>
    </ion-slide>


    <ion-slide class="slide">
      <div class="vertical-align">
      <h1 class="item item-clear item-positive">The Present</h1>
      <h2>what we are doing now?</h2>
      </div>
    </ion-slide>

    <ion-slide class="slide">
      <div class="vertical-align">
      <h1>Current Projects</h1>
      <h2>Prototyping lab</h2>
      <h2>Pyro: A realtime app platform</h2>
      </div>
    </ion-slide>


    <ion-slide class="slide">
      <div class="vertical-align">
      <h1 class="item item-clear item-balanced">Our Future</h1>
      <h2>what can we do together?</h2>
      </div>
    </ion-slide>

    <ion-slide class="slide">
      <div class="vertical-align">
      <h1>We are here for you.</h1>
      <h2>Mentoring</h2>
      <h2>Prototyping Lab</h2>
      <h2>TSA, VEX</h2>
      <h2>Questions via email/phone</h2>
      </div>
    </ion-slide>

    <ion-slide class="slide">
      <div class="vertical-align">
      <h1>Prototyping Lab</h1>
      <h2>SLA 3D Printer</h2>
      <h2>4-Axis Milling Machine</h2>
      <h2>Mill, lathe, saws, etc.</h2>
      </div>
    </ion-slide>

    <ion-slide class="slide">
      <div class="vertical-align">
      <div class="row" style="text-align:center;">
        <div class="col">
        <h1>Formlabs Form 1+</h1><br/>
        <img src="http://formlabs.com/static/formlabs-web-frontend/img/products/form1plus/form1plus-hero-models.jpg?eac025a" style="height:337px;width:490px;"/>
        </div>
        <div class="col">
          <h1>Shopbot Desktop</h1><br/>
        <img src="http://i.kinja-img.com/gawker-media/image/upload/s--dQTJEec1--/17ps4uiwxmaj6jpg.jpg" style="height:337px;width:490px;"/>
        </div>
      </div>
      </div>
    </ion-slide>

    <ion-slide class="slide">
      <div class="vertical-align">
      <h1>closing thoughts</h1>
      <h2>what gets us out of bed</h2>
      <h2>what keeps us up at night</h2>
      </div>
    </ion-slide>

    <ion-slide class="slide">
      <div class="vertical-align">
      <h1>thank you.</h1>
      <h2>questions?</h2>
      </div>
    </ion-slide>

  </ion-slide-box>


  <div class="bar bar-footer bar-dark">
    <div class="row">
      <div class="col col-10 button-icon icon ion-ios7-chatboxes-outline" style="margin-top:-.625em;text-align:center;"></div>
      <div id="featured-question" class="col col-75" style="margin-top:-.5em;">
        <h3 class="light">How did they do that?</h3>
      </div>
      <div class="col col-20" style="margin-top:-.5em;text-align:center;font-size:1.5em;">
        <i class="button-icon icon ion-ios7-people">{{data.userCount}} </i>
        <i class="button-icon icon ion-ios7-chatbubble"> {{data.messageCount}}</i>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top:-2em;text-align:center;">
    <div class="col col-10" ng-click="goToFirstSlide()">
      <button class="button button-icon icon ion-ios7-rewind"></button>
    </div>
    <div class="col">
    </div>
    <div class="col col-10" ng-click="goToLastSlide()">
      <button class="button button-icon icon ion-ios7-fastforward"></button>
    </div>
  </div>


  </ion-content>
</ion-view>
